<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

  <div class="card" style="width: 18rem;">
  <% @projects.each do |project| %>
  
  <% if project.user.id == current_user.id %>
 
  <div class="card-body">
    <h5 class="card-title"><%= project.name %></h5>
    <p class="card-text"><%= simple_format project.description %></p>
    <%= link_to "Show", project, class: "btn btn-primary" %>
  </div>

  <% end %>
  
  <% end %>
  </div>

